@import '../css/base.css';
@import '../css/iconfont/iconfont.css';

body {
  min-width: 400px;
  min-height: 100px;
  padding: 10px;
}

.field {
  display: flex;
  align-items: center;
}
.field .settings {
  margin-left: 20px;
  cursor: pointer;
}
