@import '~bulma/css/bulma.css';

img {
  max-height: 100%;
  max-width: 100%;
}

.subtitle {
  text-align: center;
}

.hidden {
  display: none !important;
}

.loading {
  margin: 0 auto;
  display: block;
}